In [6]:
 # Dependencies
from bs4 import BeautifulSoup as bs
import requests as req
from splinter import Browser
import time
import os
import pandas as pd
from splinter import Browser
import datetime as dt
import re
from webdriver_manager.chrome import ChromeDriverManager

In [7]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389

[WDM] - Driver [C:\Users\Administrator\.wdm\drivers\chromedriver\win32\89.0.4389.23\chromedriver.exe] found in cache

## NASA Mars News

In [8]:
# Website
news_url = "https://mars.nasa.gov/news/"
browser.visit(news_url)
html = browser.html
soup = bs(html, "html.parser")

In [9]:
# write to HTML
html = browser.html
soup = bs(html,"html.parser")

In [10]:
news_title = soup.find("div",class_="list_text").text
news_paragraph = soup.find("div", class_="article_teaser_body").text
print(f"Title: {news_title}")
print(f"Paragraph: {news_paragraph}")

Title: April 17, 2021NASA to Attempt First Controlled Flight on Mars As Soon As MondayA livestream will begin at 3:15 a.m. PDT that morning as the helicopter team prepares to receive the data downlink at NASA’s Jet Propulsion Laboratory.
Paragraph: A livestream will begin at 3:15 a.m. PDT that morning as the helicopter team prepares to receive the data downlink at NASA’s Jet Propulsion Laboratory.

## JPL Mars Space Images - Featured Image

In [11]:
image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(image_url)
html = browser.html
soup = bs(html, "html.parser")

In [12]:
html = browser.html
soup = bs(html, 'html.parser')
img_url = "https://spaceimages-mars.com/image/featured/mars1.jpg"
featured_image_url = img_url
print(f"Featured Image URL:{img_url}")

Featured Image URL:https://spaceimages-mars.com/image/featured/mars1.jpg

## Mars Facts

In [30]:
import pandas as pd
df = pd.read_html('https://galaxyfacts-mars.com/')[1]
df.columns=['Fact', 'Description']
df.set_index('Fact', inplace=True)
df

                                        Description
Fact
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                        2 ( Phobos & Deimos )
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [31]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Description</th>\n    </tr>\n    <tr>\n      <th>Fact</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 ( Phobos &amp; Deimos )</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

## Mars Hemispheres

In [39]:
marsh_url= "https://marshemispheres.com/"

In [41]:
browser.visit(marsh_url)
html = browser.html
soup = bs(html, 'html.parser')
main_url = soup.find_all('div', class_='item')
titles=[]
hemisphere_img_urls=[]